*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grid-container{
        display: grid;
        grid-template-rows: 100px 700px 50px;
        grid-template-columns: 100%;
        background-color: blue;
        color: red;
        height: 900px;        
}

.grid-container > .grid-items{    
    border: 1px solid white;
}

.grid-item-header,.grid-item-footer{
    color:white;
    background-color: rgb(114, 114,114);
}

.grid-item-header{
    display: grid; 
    grid-template-columns: repeat(2,50%);
    background-color: rgb(20, 98, 124);    
}

.grid-item-header div img{
                            width: 250px;
                            height: 90px;
                            margin-left: 20px;
}

.navegacion{
            display: flex;
            align-items: center;
            justify-content: center;   
            color: white;                                          
}

.navegacion li{   
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;    
                width: 120px;  
                height: 90px;
                margin-left: -20px;       
}

.navegacion li a{
                    text-decoration: none;
                    color: white;                     
                    margin: 300px;
                    padding: 30px;
                    background-color: blue;                     
}

.navegacion li a:hover{
                        background-color: white;
                        color: black;
}

.grid-item-main{
          
                 display: grid;
                 grid-template-columns: 50% 50%;
}

.grid-item-footer{
                    position: absolute;
                    bottom: 0px;                    
                    width: 100%;
                    background-color: rgb(20, 98, 124);
                    text-align: center;             
                    padding: 20px;                    
}

.grid-item-footer a{
                    color: white;
                    text-decoration: none;                    
}

main h1{
        margin:20px;display:flex; 
        justify-content:  center;
        color: red;
}

main p{
        margin-top:20px;
}
 